/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@500;700&display=swap');

/* Root */
:root {
    --cc-v-d-g-b-: hsl(217, 19%, 35%);
    --cc-d-d-b-: hsl(214, 17%, 51%);
    --cc-g-b-: hsl(212, 23%, 69%);
    --cc-l-g-b-: hsl(210, 46%, 95%);
    
    --ff-manrope-: 'Manrope', sans-serif;
}

/* Main */
* {
    margin: 0;
    padding: 0;
    font-family: var(--ff-manrope-);
    font-size: 1rem;
    font-weight: 400;
    color: var(--cc-v-d-g-b-);
}

body {
    background-color: var(--cc-l-g-b-);
    padding: 5em 2rem 5rem 2rem;
}

.container {
    background-color: white;
    border-radius: 20px;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto auto;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
    "header-image"
    "header-text"
    "paragraph-text"
    "user-info";
}

.header-image {
    grid-area: header-image;
    content: url('../images/drawers.jpg');
    border-radius: 20px 20px 0px 0px;
    width: 100%;
    height: auto;
    display: block;
    object-fit: cover;
}

.header-text {
    grid-area: header-text;
    padding: 2em 0.5rem 0rem 0.5rem;
}

.header-text > h1 {
    font-weight: 800;
    padding: 0rem 1rem 0rem 1rem;
}

.paragraph-text {
    grid-area: paragraph-text;
    padding: 2rem 1.5rem 2rem 1.5rem;
}

.paragraph-text > p {
    color: var(--cc-g-b-);
}

.user-info {
    grid-area: user-info;
    padding: 2rem 2rem 2rem 2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    align-items: center;
}

.user-info > div > h1 {
    font-weight: 800;
    margin-left: -2rem;
    font-size: 0.9rem;
}

.user-info > div > p {
    font-weight: 400;    
    margin-left: -2em;
    font-size: 0.9rem;
    color: var(--cc-d-d-b-);
}

.user-image {
    content: url('../images/avatar-michelle.jpg');
    border-radius: 50px;
    width: 50px;
    max-height: auto;
    margin-right: 1rem;
    justify-self: flex-start;
}

.share-icon {
    content: url('../images/icon-share.svg');
    cursor: pointer;
    background-color: var(--cc-l-g-b-);
    display: inline-block;
    border-radius: 20px;
    box-shadow: 0px 0px 2px #888;
    padding: 0.5em 0.5em;
}

.share-info {
    display: none;
    padding: 2.8rem 2rem 2rem 2rem;
    background-color: var(--cc-v-d-g-b-);
    border-radius: 0px 0px 20px 20px;
    justify-content: center;
    align-items: center;
}

.share-info > p {
    color: var(--cc-g-b-);
    letter-spacing: 0.3rem;
}

.facebook-icon {
    content: url('../images/icon-facebook.svg');
    cursor: pointer;
    margin-left: 1rem;
}

.twitter-icon {
    content: url('../images/icon-twitter.svg');
    cursor: pointer;
    margin-left: 1rem;
}

.pintrest-icon {
    content: url('../images/icon-pinterest.svg');
    cursor: pointer;
    margin-left: 1rem;
    margin-right: 1rem;
}

@media (min-width: 700px)
{
    .user-info {
        grid-area: user-info;
        padding: 2rem 2rem 2rem 2rem;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-content: center;
        align-items: center;
    }
    
    .user-image {
        content: url('../images/avatar-michelle.jpg');
        border-radius: 50px;
        width: 100px;
        max-height: auto;
        margin-right: 4rem;
    }
    
    .user-info > div > h1 {
        font-weight: 800;
        font-size: 1.5rem;
        margin: 0;
    }
    
    .user-info > div > p {
        font-weight: 400;    
        font-size: 1.5rem;
        color: var(--cc-d-d-b-);
        margin: 0;
    }
    
    .share-icon {
        content: url('../images/icon-share.svg');
        cursor: pointer;
        background-color: var(--cc-l-g-b-);
        display: inline-block;
        border-radius: 100px;
        box-shadow: 0px 0px 2px #888;
        padding: 0.5em 0.5em;
        outline: none;
    }

}

@media (min-width: 1200px)
{
    html, body {
        height: 100%;
    }
    
    html {
        display: table;
        margin: auto;
    }
    
    body {
        display: table-cell;
        vertical-align: middle;
    }
    
    .container {
        display: flex;
        flex-direction: row;
        width: 85vw;
        height: 40vh;
    }
    
    .header-text > h1 {
        font-weight: 800;
        font-size: 1.5rem;
        padding: 0rem 2rem 0rem 2rem;
    }
    
    .paragraph-text > p {
        padding: 0rem 1rem 0rem 1rem;
        font-size: 1rem;
    }
    
    .header-image {
        content: url('../images/drawers.jpg');
        border-radius: 20px 0px 0px 20px;
        width: 40%;
        height: auto;
        display: block;
        object-fit: cover;
    }
    
    .user-image {
        content: url('../images/avatar-michelle.jpg');
        border-radius: 50px;
        width: 75px;
        max-height: auto;
        margin-right: 4rem;
    }
    
    .user-info > div > h1 {
        font-weight: 800;
        font-size: 1rem;
        margin: 0;
        justify-content: center;
    }
    
    .user-info > div > p {
        font-weight: 400;    
        font-size: 1rem;
        color: var(--cc-d-d-b-);
        margin: 0;
        justify-self: flex-start;
    }
    
    .share-info {
        position: absolute;
        top: 480px;
        right: 100px;
        width: 300px;
        background-color: var(--cc-v-d-g-b-);
        justify-content: space-evenly;
        align-items: center;
        padding: 0.8rem;
        border-radius: 10px;
        display: none;
    }
    .share-info::before {
        content: "";
        display: block;
        width: 20px;
        height: 20px;
        background-color: var(--cc-v-d-g-b-);
        position: absolute;
        bottom: -10px;
        right: 100px;
        transform: rotate(45deg);
    }
}

@media (min-width: 1920px){
    .share-info {
        position: absolute;
        top: 500px;
        right: 200px;
        width: 300px;
        background-color: var(--cc-v-d-g-b-);
        justify-content: space-evenly;
        align-items: center;
        padding: 0.8rem;
        border-radius: 10px;
        display: none;
    }

    .share-info::before {
        content: "";
        display: block;
        width: 20px;
        height: 20px;
        background-color: var(--cc-v-d-g-b-);
        position: absolute;
        bottom: -10px;
        right: 150px;
        transform: rotate(45deg);
    }

}