/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@500;700&display=swap');

/* Root */
:root {
    --cc-v-d-g-b-: hsl(217, 19%, 35%);
    --cc-d-d-b-: hsl(214, 17%, 51%);
    --cc-g-b-: hsl(212, 23%, 69%);
    --cc-l-g-b-: hsl(210, 46%, 95%);
    
    --ff-manrope-: 'Manrope', sans-serif;
}

/* Main */
* {
    margin: 0;
    padding: 0;
    font-family: var(--ff-manrope-);
    font-size: 1rem;
    font-weight: 400;
    color: var(--cc-v-d-g-b-);
}

body {
    background-color: var(--cc-l-g-b-);
    padding: 5em 2rem 5rem 2rem;
}

.container {
    background-color: white;
    border-radius: 20px;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto auto;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
    "header-image"
    "header-text"
    "paragraph-text"
    "user-info";
}

.header-image {
    grid-area: header-image;
    content: url('../images/drawers.jpg');
    border-radius: 20px 20px 0px 0px;
    width: 100%;
    height: auto;
    display: block;
    object-fit: cover;
}

.header-text {
    grid-area: header-text;
    padding: 2em 1rem 0rem 1rem;
}

.header-text > h1 {
    font-weight: 800;
    padding: 0rem 1rem 0rem 1rem;
}

.paragraph-text {
    grid-area: paragraph-text;
    padding: 2rem 2rem 2rem 2rem;
}

.paragraph-text > p {
    color: var(--cc-g-b-);
}

.user-info {
    grid-area: user-info;
    padding: 1rem 2rem 2rem 2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.user-info > div > h1 {
    font-weight: 800;
    margin-left: -2rem;
    font-size: 0.9rem;
}

.user-info > div > p {
    font-weight: 400;    
    margin-left: -2em;
    font-size: 0.9rem;
    color: var(--cc-d-d-b-);
    
}

.user-image {
    content: url('../images/avatar-michelle.jpg');
    border-radius: 100px;
    display: block;
    width: 50px;
    max-height: auto;
}
.share-image {
    content: url('../images/icon-share.svg');
    background-color: var(--cc-l-g-b-);
    border-radius: 100px;
    width: 25px;
    max-height: 25px;
}